<%- include ("../header") %>

    <header>
        <h1 class="title">Ntalk</h1>
        <h4 class="subtitle">Bem-vindo</h4>
    </header>
    
    <section>
        <form action="/entrar" method="post">
        <input type="text" name="usuario[nome]" placeholder="Nome">
        <br>
        <input	type="text" name="usuario[email]" placeholder="E-mail">
        <br>
        <button class="btn"	type="submit">Entrar</button>
        </form>
    </section>

<%- include ("../footer") %>
